<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9e5ac04d15.js" crossorigin="anonymous"></script>
  <title>Hello World</title>
</head>
<body>

{{{ body }}}

<script src="../../public/js/job-search.js"></script>
<script src="/js/login.js"></script>
<script src="./js/language.js"></script>
</body>
</html>
