<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css"/>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9e5ac04d15.js" crossorigin="anonymous"></script>
  <title>Hello World</title>
</head>
<body>
<main class="mx-auto">
  <div class="flex mb-4">
    <!-- Main area -->
    <div class="w-4/5 p-2 text-center">
      <!-- Navbar -->
      <nav class="flex justify-between m-4">
        <div class="text-left m-4">
          <p class="text-gray-700 font-light text-2xl">Welcome</p>
          <span class="text-gray-700 font-bold text-2xl">Joe<span class="text-gray-700 font-bold text-2xl"> Doe</span></span>
        </div>
        <div class="flex justify-end h-20">
          <div class="text-center">
            <img class="h-24" src="./logo.png" alt="brand-logo">
          </div>
        </div>
      </nav>

      {{{body}}}

    </div>
    <!-- Right menu -->
    <div class="w-1/5 p-2 bg-purple-200 text-center border-md">
      <div class="rounded-full flex items-center justify-center mx-auto mt-12 mb-8">
        <img class="rounded-full" src="avatar.jpg" alt="avatar">
      </div>
      <p class="text-sm text-gray-700 font-normal">jane@mail.com</p>
      <h2 class="tracking-wide text-gray-700 text-xs font-bold text-lg mt-12">Job Posting</h2>
      <div class="mt-5 companies p-3">
        <div class="divide-y divide-gray-400">
          <div class="text-center py-2 group">
            <div class="grid grid-rows-2 grid-flow-col my-4">
              <div class="row-span-3 bg-gray-400 rounded-full h-8 w-8 py-auto">
                <img class="rounded-full" src="">
              </div>
              <div class="row-span-1 col-span-2 cursor-pointer">
                <span class="my-auto text-gray-700 group-hover:text-orange">Facebook oportunity</span>
                <i class="fas fa-chevron-right my-auto text-gray-700 ml-4 cursor-pointer group-hover:text-orange"></i>
              </div>
              <div class="row-span-2 col-span-2">
                <p class="text-sm font-hairline text-left ml-2 text-gray-700 group-hover:text-orange">Javascript Junior</p>
              </div>
            </div>
          </div>
          <div class="text-center py-2 group">
            <div class="grid grid-rows-2 grid-flow-col my-4">
              <div class="row-span-3 bg-gray-400 rounded-full h-8 w-8 py-auto">
                <img class="rounded-full" src="">
              </div>
              <div class="row-span-1 col-span-2 cursor-pointer">
                <span class="my-auto text-gray-700 group-hover:text-orange">Facebook oportunity</span>
                <i class="fas fa-chevron-right my-auto text-gray-700 ml-4 cursor-pointer group-hover:text-orange"></i>
              </div>
              <div class="row-span-2 col-span-2">
                <p class="text-sm font-hairline text-left ml-2 text-gray-700 group-hover:text-orange">Javascript Junior</p>
              </div>
            </div>
          </div>
          <div class="text-center py-2 group">
            <div class="grid grid-rows-2 grid-flow-col my-4">
              <div class="row-span-3 bg-gray-400 rounded-full h-8 w-8 py-auto">
                <img class="rounded-full" src="">
              </div>
              <div class="row-span-1 col-span-2 cursor-pointer">
                <span class="my-auto text-gray-700 group-hover:text-orange">Facebook oportunity</span>
                <i class="fas fa-chevron-right my-auto text-gray-700 ml-4 cursor-pointer group-hover:text-orange"></i>
              </div>
              <div class="row-span-2 col-span-2">
                <p class="text-sm font-hairline text-left ml-2 text-gray-700 group-hover:text-orange">Javascript Junior</p>
              </div>
            </div>
          </div>
          <div class="text-center py-2 group">
            <div class="grid grid-rows-2 grid-flow-col my-4">
              <div class="row-span-3 bg-gray-400 rounded-full h-8 w-8 py-auto">
                <img class="rounded-full" src="">
              </div>
              <div class="row-span-1 col-span-2 cursor-pointer">
                <span class="my-auto text-gray-700 group-hover:text-orange">Facebook oportunity</span>
                <i class="fas fa-chevron-right my-auto text-gray-700 ml-4 cursor-pointer group-hover:text-orange"></i>
              </div>
              <div class="row-span-2 col-span-2">
                <p class="text-sm font-hairline text-left ml-2 text-gray-700 group-hover:text-orange">Javascript Junior</p>
              </div>
            </div>
          </div>
          <div class="text-center py-2 group">
            <div class="grid grid-rows-2 grid-flow-col my-4">
              <div class="row-span-3 bg-gray-400 rounded-full h-8 w-8 py-auto">
                <img class="rounded-full" src="">
              </div>
              <div class="row-span-1 col-span-2 cursor-pointer">
                <span class="my-auto text-gray-700 group-hover:text-orange">Facebook oportunity</span>
                <i class="fas fa-chevron-right my-auto text-gray-700 ml-4 cursor-pointer group-hover:text-orange"></i>
              </div>
              <div class="row-span-2 col-span-2">
                <p class="text-sm font-hairline text-left ml-2 text-gray-700 group-hover:text-orange">Javascript Junior</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="/assets/js/script.js"></script>
</body>
</html>
