<main class="mx-auto">
  <div class="flex mb-4">
    <!-- Main area -->
    <div class="w-4/5 p-2 text-center">
      <!-- Navbar -->
      {{> navbar user = name  }}

      <!-- Advertaisment area -->
      <main class="news flex flex-wrap justify-center">
        <div
                class="mt-8 mx-4 lg:w-1/5 md:1/2 w-full p-5 bg-white rounded max-w-xs shadow-lg select-none overflow-hidden hover:shadow-2xl">
          <div class="rounded-full h-16 w-16 flex items-center justify-center bg-purple-100 mx-auto">
            <i class="far fa-calendar-check text-purple text-2xl"></i>
          </div>
          <p class="text-gray-700 mb-2 text-purple text-2xl mt-8">August 12<span class="text-sm">th</span></p>
          <p class="text-gray-700 mb-2 text-purple font-light mt-2">Java Script Vs jQuery</p>
          <p class="font-semibold mb-1 text-gray-800 text-sm mt-5">NEXT EVENT</p>
        </div>
        <div
                class="mt-8 mx-4 lg:w-1/5 md:1/2 w-full p-5 bg-white rounded max-w-xs shadow-lg select-none overflow-hidden hover:shadow-2xl">
          <div class="rounded-full h-16 w-16 flex items-center justify-center bg-blue-100 mx-auto">
            <i class="far fa-clock text-blue text-2xl"></i>
          </div>
          <p class="text-gray-700 mb-2 text-blue text-2xl mt-8">August 18<span class="text-sm">th</span></p>
          <p class="text-gray-700 mb-2 text-blue font-light mt-2">React Meetup</p>
          <p class="font-semibold mb-1 text-gray-800 text-sm mt-5">NEW EVENT</p>
        </div>
        <div
                class="mt-8 mx-4 lg:w-1/5 md:1/2 w-full p-5 bg-white rounded max-w-xs shadow-lg select-none overflow-hidden hover:shadow-2xl">
          <div class="rounded-full h-16 w-16 flex items-center justify-center bg-pink-100 mx-auto">
            <i class="fas fa-user-check text-pink text-2xl"></i>
          </div>
          <p class="text-gray-700 mb-2 text-pink text-2xl mt-8">7/25</p>
          <p class="text-gray-700 mb-2 text-pink font-light mt-2">Java Script</p>
          <p class="font-semibold mb-1 text-gray-800 text-sm mt-5">SCORE</p>
        </div>
        <div
                class="mt-8 mx-4 lg:w-1/5 md:1/2 w-full p-5 bg-white rounded max-w-xs shadow-lg select-none overflow-hidden hover:shadow-2xl">
          <div class="rounded-full h-16 w-16 flex items-center justify-center bg-orange-100 mx-auto">
            <i class="fas fa-chalkboard-teacher text-orange text-2xl"></i>
          </div>
          <p class="text-gray-700 mb-2 text-orange text-2xl mt-8">Learn My SQL</p>
          <a class="text-gray-700 mb-2 text-orange font-light mt-2 cursor-pointer" href="#">Suscribe here</a>
          <p class="font-semibold mb-1 text-gray-800 text-sm mt-5">NEXT COURSE</p>
        </div>
      </main>

      <!-- Interaction area -->
      <div class="forms flex flex-wrap justify-center px-6">
        <div class="lg:w-1/2 w-full p-6 bg-white rounded shadow-lg select-none overflow-hidden hover:shadow-2xl mt-8">
          <h2 class="text-gray-700 font-bold text-xl mb-12">Create an event</h2>


          <form class="w-full max-w-lg" action="/api/events" method="POST">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                  Event Name
                </label>
                <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                        id="grid-first-name event-name" type="text" placeholder="Reactive System" name="name">
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  DATE
                </label>
                <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-last-name event-date" placeholder="yyyy-mm-dd" type="date" name="date">
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-2">
              <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                  City
                </label>
                <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-city event-city" type="text" placeholder="Charlotte" name="city">
              </div>
              <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                  State
                </label>
                <div class="relative">
                  <select
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                          id="grid-state event-state"
                          name="state">
                      <option>	Alabama	</option>
                      <option>	Alaska	</option>
                      <option>	Arizona	</option>
                      <option>	Arkansas	</option>
                      <option>	California	</option>
                      <option>	Colorado	</option>
                      <option>	Connecticut	</option>
                      <option>	Delaware	</option>
                      <option>	Florida	</option>
                      <option>	Georgia	</option>
                      <option>	Hawaii	</option>
                      <option>	Idaho	</option>
                      <option>	Illinois	</option>
                      <option>	Indiana	</option>
                      <option>	Iowa	</option>
                      <option>	Kansas	</option>
                      <option>	Kentucky	</option>
                      <option>	Louisiana	</option>
                      <option>	Maine	</option>
                      <option>	Maryland	</option>
                      <option>	Massachusetts	</option>
                      <option>	Michigan	</option>
                      <option>	Minnesota	</option>
                      <option>	Mississippi	</option>
                      <option>	Missouri	</option>
                      <option>	Montana	</option>
                      <option>	Nebraska	</option>
                      <option>	Nevada	</option>
                      <option>	New Hampshire	</option>
                      <option>	New Jersey	</option>
                      <option>	New Mexico	</option>
                      <option>	New York	</option>
                      <option>	North Carolina	</option>
                      <option>	North Dakota	</option>
                      <option>	Ohio	</option>
                      <option>	Oklahoma	</option>
                      <option>	Oregon	</option>
                      <option>	Pennsylvania	</option>
                      <option>	Rhode Island	</option>
                      <option>	South Carolina	</option>
                      <option>	South Dakota	</option>
                      <option>	Tennessee	</option>
                      <option>	Texas	</option>
                      <option>	Utah	</option>
                      <option>	Vermont	</option>
                      <option>	Virginia	</option>
                      <option>	Washington	</option>
                      <option>	West Virginia	</option>
                      <option>	Wisconsin	</option>
                      <option>	Wyoming	</option>

                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                  Zip
                </label>
                <input
                        class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-zip event-zip" type="text" placeholder="90210" name="zip">
              </div>
            </div>
            <button
                class="create-event transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 bg-orange-300 text-white font-bold py-2 px-4 rounded-full mt-12 flex justify-content-center mx-auto">
              Create
            </button>
          </form>

          <div class="mt-5 text-right">
            <a action="/events" method="GET" href="/events">SHOW ALL</a>
          </div>
        </div>
        <div class="lg:w-2/5 w-full my-auto lg:ml-8 mr-0 mx-auto">
          <div class="py-6 px-8 bg-white rounded shadow-lg select-none overflow-hidden hover:shadow-2xl mt-8">
            <h2 class="text-gray-700 font-bold text-xl">Extra help?</h2>
            <p class="text-gray-700 m-2 font-light">Find the sources you need here!</p>
            <div class="my-5 languages">
              <a class="text-purple mr-3" href="">Java Script</a>
              <a class="text-pink mr-3" href="">Node Js</a>
              <a class="text-blue mr-3" href="">React</a>
              <a class="text-orange mr-3" href="">My SQL</a>
            </div>
            <p class="font-semibold mb-1 text-gray-800 text-sm mt-5">CHOOSE A LANGUAGE</p>
          </div>
          <div class="py-6 px-8 bg-white rounded shadow-lg select-none overflow-hidden hover:shadow-2xl mt-8">
            <h2 class="text-gray-700 font-bold text-xl">Are you ready?</h2>
            <p class="text-gray-700 m-2 font-light">Test your progress</p>
            <div class="my-5 languages">
              <a class="text-purple mr-3" href="">Java Script</a>
              <a class="text-pink mr-3" href="">Node Js</a>
              <a class="text-blue mr-3" href="">React</a>
              <a class="text-orange mr-3" href="">My SQL</a>
            </div>
            <p class="font-semibold mb-1 text-gray-800 text-sm mt-5">CHOOSE A LANGUAGE</p>
          </div>
        </div>
      </div>

    </div>
    <!-- Right menu -->

    {{> side-bar user = name }}

  </div>
</main>
