body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7FAFF !important;
}

.group:hover .group-hover\:text-orange {
  color: #FFB128;
}

.bg-purple-200 {
  background-color: #F2F6FD !important;
}

.bg-purple-100 {
  background-color: #EEEBFD !important;
}

.text-purple {
  color: #6643E2 !important;
}

.text-pink {
  color: #B622DF !important;
}

.bg-pink-100 {
  background-color: #F7E9FA !important;
}

.bg-pink-300 {
  background-color: #F6E9FB !important;
}

.bg-blue-100 {
  background-color: #EAF9FD !important;
}

.bg-blue-300 {
  background-color: #29C6F2 !important;
}

.text-blue {
  color: #29C6F2 !important;
}

.bg-orange-100 {
  background-color: #FFF7E9 !important;
}

.bg-orange-300 {
  background-color: #FFB128 !important;
}

.text-orange {
  color: #FFB128 !important;
}
